In [2]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
target1 = stats.uniform.rvs(size=100, random_state=rng)
target2 = stats.norm.rvs(size=110, random_state=rng)
response = stats.ks_2samp(target1, target2)

In [3]:
target1

array([0.49833159, 0.11289582, 0.06557973, 0.49153092, 0.16233622,
       0.02953796, 0.31353087, 0.81800521, 0.75089299, 0.21071076,
       0.94987244, 0.03622129, 0.39416627, 0.69141165, 0.90610368,
       0.08496429, 0.47227671, 0.72207813, 0.37452144, 0.6526086 ,
       0.93297261, 0.42075181, 0.98272507, 0.67181785, 0.85821298,
       0.49927354, 0.04955876, 0.92499349, 0.18112756, 0.49658216,
       0.13681495, 0.43961153, 0.08041911, 0.03864543, 0.47053795,
       0.92372313, 0.79636358, 0.49211295, 0.9345368 , 0.1187051 ,
       0.5781973 , 0.2571723 , 0.59730444, 0.59672007, 0.53547857,
       0.99424311, 0.57600522, 0.8656587 , 0.78018185, 0.29864428,
       0.0414231 , 0.46084302, 0.96404941, 0.10492432, 0.39821455,
       0.79713613, 0.28272278, 0.41886647, 0.80394328, 0.76142426,
       0.15557175, 0.34701472, 0.59673504, 0.86444636, 0.19587789,
       0.76273031, 0.88121858, 0.03757357, 0.27677584, 0.69307498,
       0.25962417, 0.88551705, 0.01797003, 0.11925296, 0.96331633,
       0.00263721, 0.01293529, 0.24496527, 0.87707622, 0.29707385,
       0.29771482, 0.50811269, 0.80154229, 0.44952898, 0.37598584,
       0.83307759, 0.98595375, 0.60066909, 0.66733307, 0.98957915,
       0.50086662, 0.68498982, 0.54360468, 0.86538354, 0.04405939,
       0.08946799, 0.33981781, 0.42239372, 0.05190925, 0.3250257 ])

In [4]:
target2

array([ 0.55291163,  0.10257511,  0.55477588, -0.12513108,  0.29876797,
        3.13823977, -1.37073717, -1.56246857, -0.4459703 ,  1.11264946,
        0.48724225,  1.23590865,  1.01636335, -0.34618445, -0.02040044,
       -0.26597703, -0.60022529, -0.43719051, -2.29149544, -0.19238734,
       -0.98032103, -0.40675029, -0.74191796, -0.06903479,  0.25628309,
       -0.20300426, -0.24937833,  0.72236226,  0.46512768, -0.97161924,
       -0.80945966,  0.27313611, -1.13261441,  1.48708815,  0.37254414,
       -0.14694373,  0.7751566 , -0.45311663, -0.88823128, -1.63045388,
        1.87338173,  1.15936612,  1.19688209, -1.3166944 , -0.86999346,
       -1.90086063,  0.24629061,  0.32138768, -1.49440546, -1.26686399,
        0.08822871,  0.10126826, -0.13814165,  0.38363464,  0.92554232,
        0.24574871, -1.39722491, -0.12580401, -0.07495778, -1.83234975,
       -1.83701419, -0.40237036,  1.80727141, -1.87689962, -0.19612092,
       -0.4740786 , -0.27448701,  0.02703063,  2.51824303,  1.4979394 ,
       -1.25384424,  0.064477  , -0.19453199,  0.01438318,  0.80757775,
       -0.52153772, -0.48644176, -0.22655692, -1.53257082,  0.62339042,
        0.58821512, -1.30131933,  0.34813567,  0.01567999,  0.67075482,
        1.05180803,  0.42228703, -0.84216235,  2.36262341, -0.35795393,
       -2.16186518,  0.93404048,  0.69809788, -0.16430058,  1.72119944,
        1.12027547,  0.46811049,  0.27169753, -0.14143739, -1.12260585,
       -1.53104679,  0.74213724,  2.04560148,  0.10357059, -0.86246097,
       -1.08804058,  1.16649261, -0.16303873, -0.52169734, -1.34467549])

In [11]:
round(response.pvalue,16)

1.46225e-11

In [ ]:
#Anomly in my dataset
# 
# 1.High Null Value
2. Missing COlumns
3. Outlier
4. Categorical: 
Gender--> MALE, FEMALE,OTHER

In [1]:
import pandas as pd

In [15]:
l1=[1,2,3,4]
l2=[4,5,6,7]

for l1_val,l2_val in zip(l1,l2):
    print(l1_val,l2_val)

1 4
2 5
3 6
4 7

In [9]:
import pandas as pd
df = pd.read_csv("/config/workspace/artifact/12312022__224328/data_ingestion/dataset/train.csv")

In [10]:
df.sample(5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
3257,neg,34,NaN,36.0,36.0,2.0,2.0,0.0,0.0,0.0,...,490.0,126.0,126.0,98.0,20.0,8.0,0.0,0.0,0.0,0.0
19520,neg,89282,0.0,472.0,414.0,0.0,0.0,0.0,0.0,0.0,...,188334.0,52912.0,89164.0,385050.0,249126.0,1113776.0,2228.0,0.0,0.0,0.0
23348,neg,28582,0.0,284.0,252.0,0.0,0.0,0.0,0.0,0.0,...,100742.0,35424.0,66542.0,175954.0,798082.0,25588.0,7454.0,134.0,0.0,0.0
2402,pos,1277864,NaN,NaN,NaN,NaN,NaN,0.0,25116.0,533458.0,...,6997138.0,3167662.0,7395116.0,9366984.0,28276990.0,763770.0,125720.0,0.0,NaN,NaN
5303,neg,14,NaN,32.0,20.0,0.0,0.0,0.0,0.0,0.0,...,322.0,38.0,18.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0

In [11]:
len(df.iloc[:,[0]].drop("class",axis=1).columns)

0

Index(['ab_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000', 'bp_000',
       'bq_000', 'br_000', 'cr_000'],
      dtype='object')

In [1]:
from glob import glob

In [5]:
glob("/config/workspace/saved_models/1/**/*.pkl")

['/config/workspace/saved_models/1/model/model.pkl']

In [7]:
import os

os.path.basename("saved_mode/1")

'1'